body {
  font-family: "Open Sans", sans-serif !important;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

h6 {
  text-align: center;
  margin-bottom: 15px;
}

.card-footer {
  text-align: center;
}

.font-weight-bold {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}
.img-card-top {
  padding: 20px;
  border-radius: 50px;
}
